// import material library if I settle on one

.NewPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinCode {
    padding: 15px;
    margin: 20px;
}

.CreatePlayer {
    min-width: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SubmitButton {
    margin: 25px;
}