// import material library if I settle on one

.PickAttributes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// force all children to have half width
.PickAttributes > * {
    margin: 10px;
    padding: 10px;
    width: 250px;
}

.Alias {
    background-color: silver;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}