
.Gameplay {
    width: 100%;
    padding: 10px;

    .balloon {
        position: absolute;
        top: 70px;
        left: 20px;
        pointer-events: none;
        opacity: 80%;
        transition: all 0.3s;
    }

    .BalloonExplosion {
        position: absolute;
        top: 70px;
        left: 20px;
        pointer-events: none;
        width: 250px;
        height: 250px;
    }

    .AllPlayers {
        margin-left: 170px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .AllPlayers > * {
        margin: 0px 20px 0px 20px;
    }
}