
.Textplosion {

    .ActiveGame {
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h1 {
            margin: 20px 50px 20px 50px;
        }
    
        .HotSeatScreen {
            width: 100%;
            background-color: rgb(187, 112, 112);
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
    
            .MinigameHolder {
                background-color: white;
                flex: 1;
                margin: 0px 50px 50px 50px;
                display: flex;
                width: calc(100% - 100px);
            }
        }

        .PumpScreen {
            width: 100%;
            flex: 1;
            background-color: rgb(99, 160, 99);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .pumpInput {
                width: 200px;
            }
        }
    }
}