// import material library if I settle on one

.ProfileContainer {
    margin: 10px;
    width: 250px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    color: white;
}

.ExtraColor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 100%;
}

.PlayerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkblue;
    border: 1px double black;
}

.TempFakeIcon {
    margin: 0px;
}

.PlayerName {
    width: 150px;
    text-align: left;
    color: black;
    font-size: large;
    text-wrap: wrap;
    word-wrap: break-word;
}