// import material library if I settle on one

.GameResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ResultTable {
    width: 100%;
    margin: 50px;
    max-width: 800px;
}

.ButtonRow {
    width: 100%;
    max-width: 800px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.ButtonRow > * {
    width: 250px;
}