
.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(gray, lightgray, white);
    // Todo would love to create my own version of this where the text shift from red to green to blue 
    // naturally in a constant transition then when user hovers over either host, join, or solo, the text
    // transitions to that color. (or leave it white then transition it to what user hovers over
    background-image: url("../../../Assets/Site/digital-rain.gif");
    background-size: cover;
}

.FadeInGradient {
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    opacity: 0%;
    transition: opacity 0.6s;
}

.PlayOptions {
    opacity: 100%;
    width: calc(100% - 100px);
    min-width: 770px;
    padding: 100px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1052px) {
    .OptionBox {
        height: 100px;
    }
}

.OptionBox {
    width: 200px;
    margin: 50px;
    padding: 15px;
    border-radius: 10%;
    box-shadow: 5px;
    background-color: lightgray;
    text-align: center;

    &:hover {
        background-color: white;
        cursor: pointer;
    }
}