
.WordNotColor {
    background-color: white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        padding: 20px;
    }

    .colorWords {
        display: flex;
        flex-wrap: wrap;
    }

    h3 {
        padding: 20px;
    }

    .inputHolder {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inputBox {
        border: 2px solid black;
        width: 200px;
    }
}