

// App is the overall container for the entire view window
.App {
  background-color: black;

  // Encompasses the entire screen below the header
  .BelowHeader {
    width:  100vw;
    height: 100vh;
    background-color: darkgray;

    .SideAndRouter {
      width: 100%;
      height:100%;
      padding-top: 50px;
      display: flex;
      
    }
  }
}
