@import "@fontsource/merriweather";
@import '@fontsource/grenze-gotisch';
@import '@fontsource-variable/orbitron';

:root {
  --title-color: white;
  --user-color: white;
  --user-color-feint: white;

  --title-font: 'Orbitron Variable';
  --body-font: 'Roboto';
  --user-font: "Arial";
}


body {
  margin: 0;
  font-family: var(--body-font); 
  /* 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Can add title-font class to any element to get it to use title font instead of body font, and can add user-font lass similarly*/
.title-font {
  font-family: var(--title-font);
}

h1 {
  font-family: var(--title-font);
}

.user-font {
  font-family: var(--user-font);
}

.full-size {
  min-width: 100%;
  min-height: 100%;
}

.full-screen {
  min-width: 100vw;
  min-height: calc(100vh - 50px);
  width: fit-content;
  height: fit-content;
}

.IconImage {
  width: 40px;
  height: 40px;
  translate: -3px 3px;
}

.IconButton {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: var(--user-color-feint);
  margin: 10px;
  border: 2px solid black;
}

.ant-color-picker-trigger-text {
  width: 60px;
}

.SessionPlayers {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}