// import material library if I settle on one

.GameCard {
    margin: 25px;
    width: 300px;
    height: 200px;
    box-shadow: 5;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid rgb(0, 0, 0);
    // 

    h1 {
        width: fit-content;
        margin: none;

    }

    &:hover {
        border: 3px solid white;
        cursor: pointer;
        box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);

        h1 {
            -webkit-text-stroke-color: green;
        }
    }
}

.CardImage {
    width: 200px;
    height: 200px;
}