// import material library if I settle on one

.GameSelect {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.GamesBox {
    width: 100%;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}