// import material library if I settle on one

.GameSelect {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.GamesBox {
    width: 100%;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

.ant-card-body {
    padding: 5px 10px 5px 10px;
}

.GameCard {
    margin: 50px;
    width: 300px;
    min-width: 300px;
    height: 200px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 6px solid rgb(0, 0, 0);
    background-image: linear-gradient(to left, rgb(188, 186, 186), rgb(134, 134, 134));
    background-image: gradient;

    h1 {
        text-align: center;
        margin: 10px 10px 5px 10px;
        font-size: xx-large;
        width: fit-content;
        padding-bottom: 2px;
        border-bottom: 1px solid black;
    }

    h3 {
        margin: 3px 5px 5px 5px;
    }

    &:hover {
        border: 6px solid white;
        cursor: pointer;
        box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
        h1 {
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
            color: white;
        }
    }
}

.CardIcons {
    display: flex;
}

.CardIcon {
    width: 70px;
    height: 70px;
}

.FlipIcon {
    transform: scaleX(-1);
}